.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 0;
  width: 100%;
}

.cards-container > * {
  flex: 1;
  min-width: 300px;
}

.cards-container h2 {
  margin: 0;
  font-size: 1.5rem;
  color: var(--light-text);
}

.cards-container p {
  margin: 0.5rem 0;
  color: var(--light-text);
  font-size: 1rem;
  line-height: 1.5;
}
