.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-md);
  background-color: var(--dark-primary);
  color: var(--white);
  border-top: 1px solid var(--white-alpha-10);
  height: 45px;
}

.footer p {
  margin: 0;
  font-size: var(--text-sm);
  color: var(--white-alpha-70);
}
